// VARIABLES
$color-pricipal: #000;
$color-h1: red;
$color-p: white;
body {
    background: $color-pricipal;
}

h1 {
    color: $color-h1;
}

p {
    color: $color-p;
    font-size: 30px;
}

//Anidacion
.caja {
    h2 {
        color: yellow;
    }
    p{
        text-decoration: underline;
        font-size: 20px;
    }
}